/* Police pour h1 (Logo) */
@font-face {
  font-family: "Crowtig-8MKPg";
  src:
    local(""),
    url("/assets/fonts/logo/Crowtig-8MKPg.ttf") format("truetype");
}

/* Police pour h2 */
@font-face {
  font-family: "SilvarPro-MqDJ";
  src:
    local(""),
    url("/assets/fonts/h2/SivarPro-MqDJ.otf") format("opentype");
}

/* Police par défaut pour le reste */
@font-face {
  font-family: "Roboto";
  src:
    local(""),
    url("/assets/fonts/all/Roboto-Regular.ttf") format("truetype");
}
