@import url("./font.css");

h1.logo {
  font-family: "Crowtig-8MKPg", sans-serif;
  font-size: 3rem;
  color: white;
}

@media screen and (max-width: 767px) {
  h1.logo {
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 100%;
  }
}
