.navbar-mobile {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  background-color: #191919;
}

.navbar-mobile a {
  text-decoration: none;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar-mobile .iconNavBar {
  max-width: 70px;
  max-height: 70px;
  width: auto;
  height: auto;
  aspect-ratio: 1/1;
}
svg {
  color: white;
}
.iconNavBar:hover {
  color: #ff5252;
}

svg:hover {
  color: #ff5252;
}
@media screen and (min-width: 899px) {
  .navbar-mobile {
    display: none;
  }
}
