.container-register {
  margin: 2rem;
  padding: 1rem;
  background-color: blanchedalmond;
  border-radius: 15px;
  width: fit;
}
.btn-register {
  padding: 0.5rem;
  margin-top: 1rem;
  align-items: center;
  justify-content: center;
}
