.oeuvres {
  background-color: #404040;
  height: 932px;
  overflow: hidden;
  width: 430px;
}

.oeuvres .overlap {
  height: 1112px;
  left: -22px;
  position: relative;
  top: -174px;
  width: 478px;
}

.oeuvres .frame {
  background-color: #f4ede1;
  height: 1112px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 478px;
}

.oeuvres .street-art {
  height: 187px;
  left: 49px;
  object-fit: cover;
  position: absolute;
  top: 301px;
  width: 169px;
}

.oeuvres .street-art-bit {
  height: 187px;
  left: 256px;
  object-fit: cover;
  position: absolute;
  top: 301px;
  width: 169px;
}

.oeuvres .text-wrapper {
  color: #000000;
  font-family: "Crossbar-Regular", Helvetica;
  font-size: 24px;
  font-weight: 400;
  left: 62px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 506px;
  white-space: nowrap;
}

.oeuvres .overlap-group {
  height: 80px;
  left: 22px;
  position: absolute;
  top: 1027px;
  width: 430px;
}

.oeuvres .group {
  background-image: url(./art-1.png);
  background-size: 100% 100%;
  height: 48px;
  left: 174px;
  position: absolute;
  top: 24px;
  width: 85px;
}

.oeuvres .rectangle {
  height: 62px;
  left: 0;
  position: absolute;
  top: 17px;
  width: 430px;
}

.oeuvres .div {
  background-color: #000000;
  height: 80px;
  left: 0;
  position: absolute;
  top: 0;
  width: 430px;
}

.oeuvres .logo {
  height: 60px;
  left: 259px;
  object-fit: cover;
  position: absolute;
  top: 10px;
  width: 74px;
}

.oeuvres .art-modified {
  height: 60px;
  left: 112px;
  object-fit: cover;
  position: absolute;
  top: 10px;
  width: 75px;
}

.oeuvres .img {
  height: 187px;
  left: 256px;
  object-fit: cover;
  position: absolute;
  top: 556px;
  width: 169px;
}

.oeuvres .rectangle-2 {
  height: 276px;
  left: -2429px;
  position: absolute;
  top: 1928px;
  width: 432px;
}

.oeuvres .street-art-2 {
  height: 187px;
  left: 49px;
  object-fit: cover;
  position: absolute;
  top: 557px;
  width: 169px;
}

.oeuvres .street-art-3 {
  height: 187px;
  left: 49px;
  object-fit: cover;
  position: absolute;
  top: 797px;
  width: 169px;
}

.oeuvres .street-art-4 {
  height: 187px;
  left: 256px;
  mix-blend-mode: hard-light;
  object-fit: cover;
  position: absolute;
  top: 797px;
  width: 169px;
}

.oeuvres .text-wrapper-2 {
  color: #000000;
  font-family: "Crowtig-Regular", Helvetica;
  font-size: 64px;
  font-weight: 400;
  left: 110px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 201px;
}

.oeuvres .text-wrapper-3 {
  color: #000000;
  font-family: "Crossbar-Regular", Helvetica;
  font-size: 24px;
  font-weight: 400;
  left: 268px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 506px;
  white-space: nowrap;
}

.oeuvres .text-wrapper-4 {
  color: #000000;
  font-family: "Crossbar-Regular", Helvetica;
  font-size: 24px;
  font-weight: 400;
  left: 72px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 756px;
  white-space: nowrap;
}

.oeuvres .text-wrapper-5 {
  color: #000000;
  font-family: "Crossbar-Regular", Helvetica;
  font-size: 24px;
  font-weight: 400;
  left: 284px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 756px;
  white-space: nowrap;
}

.oeuvres .text-wrapper-6 {
  color: #000000;
  font-family: "Crossbar-Regular", Helvetica;
  font-size: 24px;
  font-weight: 400;
  left: 281px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 996px;
  white-space: nowrap;
}

.oeuvres .tha-la-route {
  color: #000000;
  font-family: "Crossbar-Regular", Helvetica;
  font-size: 24px;
  font-weight: 400;
  left: 65px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 993px;
  white-space: nowrap;
}
